*{

  margin: 0;
  padding: 0;
}
body{
  width: 100%;
}
.colorBody{
  background-color: beige;
}
#mapa {
  background-color: rgb(232, 238, 238);
  text-align:left;
}
#seccion {
  background-color: blueviolet;
  border: solid 5px black;
  font-weight: 700;
  font-style: italic;
  margin: 50px;
  
}

.titulo {
  text-align: start;
}
.dark {
  font-size: 20px;

  display: inline-block;
  
  
}

.sublogo {
  text-align: start;
  background-color: bisque;
  display:inline;
  text-align: center;
  
}
.marcas {
  background-color: coral;
  text-align: end;
}

  

.FlexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-start;
  width: 100vw;
  background-color: #5b35b4;

  overflow: auto;
  flex-direction: row;
}

.FlexContainer div {
  display: flex;
  width: 100px;
  height: 50px;
  margin: 5px;
  background-color: rgb(176, 221, 236);
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.tamaño-imagen{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.logo-inicio{
  position: absolute;
}
.redes-logo{
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100vw;
  justify-content: center;
}

.redes-logo img{
  height: 2rem;
  display: flex;
  margin-left: 30px;
}

.redes-logo:first-child {
  margin: 0;
}
.lorem-contact{
  display: inline-block;
  text-align: center;
}
.section-text{
  
  font-weight: 600;
  font-size: large;
  font-style: italic;
  border: 3px solid;
  background-color: #5918f1;
  height: 200px;
}
